.fullwidth {
  width: 100%;
}

.checkbox {
  margin-right: 24px;
}

.header, .main {
  display: flex;
}

.header::before, .header::after {
  background-color: white !important;
}

.header span {
  flex: 1;
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px ;
  font-weight: bold;
}

.main {
  border-top: 1px solid #EEEEEE
}

.main span {
  flex: 1;
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
}

.main.selected {
  background-color: #F5F5F5;
}