.fullwidth {
  width: 100%;
}

.table {
  padding-top: 0;
}

.action {
  margin-top: 6px;
}


.iconButton {
  height: 24px;
  margin: 0 12px;
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
}

.flex {
  flex: 1;
}

.tableSelection {
  background-color: var(--mdc-theme-primary, #6200ee);
  color: #ffffff;
  z-index: 101;
  position: sticky;
  top: 4px;
}

@media (min-width: 600px) {
  .tableSelection {
    top: 8px;
  }
}

.tableSelection * {
  color: #ffffff;
}

.checkbox {
  margin-right: 24px;
}

.header, .main {
  display: flex;
}

.header::before, .header::after {
  background-color: white !important;
}

.header span {
  flex: 1;
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px ;
  font-weight: bold;
}

.main {
  border-top: 1px solid #EEEEEE
}

.main span {
  flex: 1;
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
}

.selected {
  background-color: #F5F5F5;
}